<div class="container">
    <h1><a href="/">Greg Kappes</a></h1>
    <h1 id="refresh" style="display: none">feel free to refresh the page........ ;)</h1>
    <h2 id="description">&%/+@#^Media_Artist\\\Improvisor-$^*/~!</h2>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a id="Bio_link" href="/bio">Bio</a></li>
            <li><a id="CV_link1" href="/cv">CV</a></li>
            <li><a id="Works_link" href="/works">Work</a></li>
            <li><a id="contact_link" href="/contact">Contact</a></li>
          </ul>
          <form class="navbar-form navbar-right" action="/dreams" method="GET">
            <div class="form-group">
              <input type="text" name="dream" class="form-control" href="dreams" placeholder="Ur hopes and dreams">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <script src="/javascript/about.js"></script>

