<html>
    <head>
        <title>Greg Kappes</title>
        <link rel="stylesheet" 
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
        crossorigin="anonymous">
        <script
			  src="https://code.jquery.com/jquery-3.2.1.min.js"
			  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
			  crossorigin="anonymous"></script>
		<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro|VT323" rel="stylesheet"> 
        <link rel="stylesheet" href="/stylesheets/index.css">
        <link rel="stylesheet" href="/stylesheets/cv.css">
        <script src="javascript/jquery-color.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/p5.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/addons/p5.dom.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

<body>
<% include ./partials/navbar %>
<h2 class="header">Selected Exhibitions</h2>
<h2 class="year">2018</h2>
<ul>
    <li>GlogauAIR Open Studios (Group Show: Berlin, DE)</li>
    <li><span class="work_title">findnewfriends.exe</span> at Signal Flow Festival (Group Show: Mills College, Oakland, CA, USA)</li>
    <li><span class="work_title">findnewfriends.exe</span> at the California Electronic Music Exchange Concerts (Group Show: Stanford University)</li>
</ul>
<h2 class="year">2017</h2>
<ul>
    <li><span class="work_title">findnewfriends.exe</span> at Slide Space 123 (Solo Show: Oakland, CA, USA)</li>
    <li><span class="work_title">_.world</span> at Slide Space 123 (Group Show: Oakland, CA, USA)</li>
</ul>
<h2 class="year">2016</h2>
<ul>
    <li><span class="work_title">campfires</span> at Holmgren Meadow (Solo Show: Mills College, Oakland, CA, USA)</li>
</ul>
<h2 class="header">Selected Performances</h2>
<h2 class="year">2018</h2>
<ul>
    <li><span class="work_title">pls don't(!) silence ur cellphones</span> at Spektrum (Berlin, DE)</li>
    <li><span class="work_title">pls don't(!) silence ur cellphones</span> at Signal Flow Festival (Mills College, Oakland, CA, USA)</li>
    <li><span class="work_title">empty patterns</span> at the California Electronic Music Exchange Concerts (Mills College and UCSC)</li>
</ul>
<h2 class="year">2017</h2>
<ul>
    <li><span class="work_title">light(rain)</span> at the California Electronic Music Exchange Concerts (Mills College and UCSB)</li>
</ul>
<h2 class="year">2016</h2>
<ul>
    <li><span class="work_title">Fanfare in C</span> at FEASt FEST (Florida International University School of Music)</li>
</ul>
<h2 class="header">Artists' Residencies</h2>
<h2 class="year">2018</h2>
<ul>
    <li>GlogauAIR (Berlin, DE)</li>
</ul>
<h2 class="header">Awards and Workshops</h2>
<h2 class="year">2018</h2>
<ul>
    <li>Margaret Lyon Music Student Prize (Mills College, Oakland, CA, USA)</li>
    <li>Composition Workshop with Ashley Fure (Mills College, Oakland, CA, USA)</li>
</ul>
<h2 class="year">2017</h2>
<ul>
    <li>Composition Workshop with Alvin Curran (Mills College, Oakland, CA, USA)</li>
</ul>
<h2 class="header">Education</h2>
<div class="ed">
    <div class="row">
        <div class="col-lg-3">
            2016-2018
        </div>
        <div class="col-lg-9">
            MFA in Electronic Music and Recording Media, Mills College
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            2012-2016
        </div>
        <div class="col-lg-9">
            BA in Music, University of Pennsylvania, Magna Cum Laude
        </div>
    </div>
</div>
<h2 class="header">Teaching Experience</h2>
<ul>
    <li>Technical and Teaching Assistant, Center for Contemporary Music, Mills College, Oakland, CA, USA, 2016-2018</li>
    <li>Tutor, Mills College, Oakland, CA, USA, 2016</li>
    <li>Tutor, University of Pennsylvania, Philadelphia, PA, USA, 2014</li>
</ul>
<h2 class="header">Publications</h2>
<ul>
    <li>Kappes, Greg. 2018. Navigating Instruction, Interface, and Sociality in Participatory Network Music. Mills College, MFA Thesis. Proquest Dissertations & Theses.</li>
</ul>
</div>
</body>
</html>